<div class="container-fluid">
  <div class="container">

    <div class="row repo-block">
      <div class="col">
        <h1>Pickbook</h1>
        <p>descrição</p>
        <div class="row">
          <div class="col-2">
            <p class="repo-small">Stars</p>
          </div>
          <div class="col-2">
            <p class="repo-small">Forks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row repo-block">
      <div class="col">
        <h1>Pickbook</h1>
        <p>descrição</p>
        <div class="row">
          <div class="col-2">
            <p class="repo-small">Stars</p>
          </div>
          <div class="col-2">
            <p class="repo-small">Forks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row repo-block">
      <div class="col">
        <h1>Pickbook</h1>
        <p>descrição</p>
        <div class="row">
          <div class="col-2">
            <p class="repo-small">Stars</p>
          </div>
          <div class="col-2">
            <p class="repo-small">Forks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row repo-block">
      <div class="col">
        <h1>Pickbook</h1>
        <p>descrição</p>
        <div class="row">
          <div class="col-2">
            <p class="repo-small">Stars</p>
          </div>
          <div class="col-2">
            <p class="repo-small">Forks</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
